@import "./widgets/workspaces/styles.scss";
@import "./widgets/tray/styles.scss";

window.menubar {
  background-color: $bg-color-transparent;
  color: $fg-color-inactive;

  .container {
    padding: 3px 5px;
  }
}
